/*styles*/

body {
    margin: 0;
    font-family: Roboto, serif;
}

.app {
    background-color: #f4f4f4;
    height: 100vh;
}
.navWrapper, .navWrapperVisible {
    width: 180px;
    padding-top: 20px;
    padding-left: 22px;
    height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 3;
    box-shadow: 5px 0 8px -2px #CECECE;
    position: fixed;
}
.logoContainer {
    padding-bottom: 20px;
}
.logoContainer a {
    float: left;
    padding-left: 20px;
}

.nav-link {
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    color: #777 !important;
    text-decoration: none;
    padding: 0 25px;
}

.nav-subLink {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 10px 40px 20px;
}

.nav-link:hover, .nav-subLink:hover  {
    text-decoration: underline;
}

.nav-link.active {
    color: #000 !important;
}

.main-container {
    padding: 20px;
    margin-left: 180px;
    font-size: 16px;
    background-color: #f4f4f4;
    z-index: 1;
    position: relative;
}

.breadcrumbs {
    box-shadow: 0 2px 8px #CECECE;
    text-align: left;
    font-size: 18px;
    margin-left: 180px;
    padding: 20px 20px 20px 30px;
    z-index: 2;
    position: relative;
    background-color: #fff;
}

.container-fluid {
    padding: 0 !important;
}

.burger-icon-wrapper {
    display: none;
}

@media screen and (max-width: 991px) {
    .navWrapper, .navWrapperVisible {
        width: 40px;
        padding-left: 12px;
        padding-right: 40px;
    }

    .logoContainer {
        display: none;
    }

    .breadcrumbs, .main-container    {
        margin-left: 52px;
    }
}

@media screen and (max-width: 576px) {
    .navWrapper {
        display: none;
    }

    .navWrapperVisible {
        padding-left: 12px;
        padding-right: 40px;
    }

    .burger-icon-wrapper {
        display: block;
        position: absolute;
        right: 10px;
        top: 8px;
        z-index: 9;
    }

    .container-fluid {
        padding: 0 !important;
    }


    .breadcrumbs, .main-container    {
        margin-left: 0;
    }
}