#previewContainerSubmit {
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: normal;
}

/* console message container*/
.info {
    color: #297ba3;
    background-color: #f0fafc;
    border-color: #c2dfed;
}

.success {
    color: #1a4825;
    background-color: #eefbf2;
    border-color: #c8e7d1;
}

.failure {
    color: #b53240;
    background-color: #fdf1f5;
    border-color: #f5c7d7;
}

/* form styling*/
label {
    display: inline-block;
    width: 280px;
    margin-bottom: 12px;
    color: #444444;
}

input, select {
    padding: 8px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    margin: 8px 0 16px;
}

input.long, select.long {
    width: 250px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

input[type="datetime-local"] {
    width: 250px;
}

pre {
    border: 2px solid #101110;
    border-radius: 5px;
    background-color: #272625;
    font-size: 15px;
    color: #DDAB36;
    line-height: 130%;
    padding: 16px;
    text-wrap: auto;
}

.preview {
    flex: 1;
    padding: 20px 0 20px 20px;
    max-width: 550px;
    min-width: 410px;
    /*height: 500px;*/
}

p {
    font-weight: bold;
}

.submitButton {
    float: right;
    padding: 10px 16px;
    background-color: #272625;
    border-radius: 8px;
    color: #DDAB36;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #272625;
    font-weight: 500;
}

.regularButton {
    padding: 10px 24px;
    background-color: #007bff;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px;
    border: 2px solid #0064ce;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

.clearButton {
    /*background-color: #000000;*/
    /*color: #ffffff;*/
    font-size: 20px;
    float: right;
    border-radius: 10px;
    margin-top: -4px;
}

.gen-user-container {
    display: flex;
    background-color: #fff;
    padding: 8px;
}

.gen-ship-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.gen-other-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.gen-container {
    /*display: flex;*/
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 8px;
    padding: 20px;
}
.context-data-container {
    display: flex;
    flex-wrap: wrap;
}

#data-generators-tablist a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background: #f2f2f2;
    margin-top: -2px;
    font-weight: 500;
}

#data-generators-tablist a{
    font-weight: 500;
    color: #6b6b6b;
}

#data-generators-tablist a[aria-selected="true"]{
    font-weight: 500;
    color: #000;
}

.form-container {
    flex: 2;
    padding: 0px 20px 20px 0;
}

.floatRight {
    float: right;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.button-container {
    padding: 20px;
    width: 100%;
}

.fetch-container {
    padding: 20px 20px 20px 0;
    width: 100%;
}

.smallLabel {
    width: 140px;
}

button:hover {
    background-color: white;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other elements */
}

@media screen and (max-width: 860px) {
    .preview {
        display: none;
    }
}

